{% extends "master.html" %}

{% block title %}
  Listado de Edificios | {{ block.super }}
{% endblock %}

{% block content %}
<h3>Número de Edificios {{numero_edificios}}</h3>

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Nombre Edificio</th>
      <th>Direccion</th>
      <th>Ciudad</th>
      <th>Tipo</th>
      <th>Departamento</th>
      <th>Opciones</th>
    </tr>
  </thead>

  {% for e in edificios %}
  <tr>
    <td> {{e.nombre}}</td>
    <td> {{e.direccion}}</td>
    <td> {{e.ciudad}}</td>
    <td> {{e.tipo}}</td>

    <td>
      <ul>
        {% for t in e.departamentos.all %}
          <li>
            <span>{{t.nombre_propietario}} - {{t.costo_departamento}} - [<a href="{% url 'editar_departamento' t.id %}">editar</a>] </span>
          </li>
        {% endfor %}
      </ul>
        <span><b>Número total de cuartos del edificio:</b> {{ e.obtener_cantidad_cuartos}}</span>
        <br>
        <span><b>Costo total de los departamentos del edificio:</b> {{ e.obtener_costo_departamentos }}</span>
        <br>[<a href="{% url 'crear_departamento_edificio' e.id%}">+Departamento</a>]
    </td>
    <td> <a href="{% url 'obtener_edificio' e.id %}">ver</a> <br>
      <a href="{% url 'editar_edificio' e.id %}">editar</a> <br>
      <a href="{% url 'eliminar_edificio' e.id %}"
      onclick="return confirm('¿Está seguro de la eliminación?')" >
      eliminar</a>
    </td>

  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>

{% endblock %}
